* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

h1 {
    text-align: center;
    margin-top: 50px;
}
#button-row {  
    display: flex; 
    flex-wrap: wrap;     
    justify-content: center; 
    align-items: center;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;            
}

.button {    
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: #CCFFE7;
}


#players {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}   

.player {
    width: 300px;
    padding: 10px;
}

label {
    padding-right: 10px;
}
#game-winner {
    margin-top: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.restart-game {
    text-align: center;
    margin-top: 20px;
}

#form-container {
    display: flex; 
    flex-wrap: wrap;    
    justify-content: center; 
    align-items: center;
    width: 300px;
    height:100px;
    margin: auto;
    
}
