* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

h1 {
    text-align: center;
    margin-top: 50px;
}

#button-row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 5px;
    width: 320px;
    background-color: lightseagreen;
        
}

.button {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.input {        
    height: 25px;        
}

.test-values {
    display: flex;
    justify-content: center;
    margin-top: 20px;;
}   
.label {
    padding-left: 10px;
    padding-right: 10px;;
}